---
import '../styles/global.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Shane Pelletier" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>About A Curious Creature</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
        <h1>About</h1>
        <h2>Hi! I'm Shane.</h2>
        <p>
            I'm constantly learning new things, and felt like it was time to share some
            of those things with the world. This site is meant to be a space where I
            can learn, explore, and create.
        </p>
        <p>
            Most of my experience is in backend web services and low-level programming,
            so it will probably be a while before this site looks as nice as most other
            programmer's websites. I hope that the content here is still useful to you.
        </p>
    </body>
</html>