---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Shane Pelletier" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>A Curious Creature</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/blog">Blog</a>
        <a href="/about">About</a>
		<h1>A Curious Creature</h1>
	</body>
</html>
