---
import '../styles/global.css';
---

<html lang="en">
    <head></head>
    <body>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
        <slot />
    </body>
</html>